.prompt-field {
  margin-top: auto;
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.form-prompt {
  display: flex;
  align-items: center;
  height: 60px;
  max-width: 600px;
  margin: 0 auto;
  column-gap: 15px;
  width: 100%;
}

.input-prompt {
  flex: 1;
  width: 80%; 
}

/*.input-prompt input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
*/

.button-form {
  display: flex;
  margin-left: 10px;
  width: 15%;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.mat-icon {
  font-size: 24px;
  color: #007bff;
  cursor: pointer;
}

.mat-icon:hover {
  color: #0056b3;
}


.input-prompt textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none; /* Prevents manual resizing */
  overflow: hidden; /* Ensures the textarea doesn't show scrollbars */
  min-height: 40px;
  line-height: 1.5;
}

/* Additional styles for feedback and validation */



.input-prompt input.invalid {
  border-color: red;
}

.input-prompt input.valid {
  border-color: green;
}