.main-content{
    display: block;
    position: fixed;
    top: 60px;
    left: 200px;
    right: 0;
    bottom: 0;
    background-color: #212121;
    color: whitesmoke   ;
    z-index: 0;
    overflow-y: auto;
    padding: 20px;
    margin: 20px;
    transition: all 0.3s;
}

prompt-field{
    display: block;
    margin: 10px;
}
