<div class="sideBar-container">
    <div class="sideBar-item">
        <div class="logo-universidad">
            <div class="logo">
                <img src="../../../assets/img/logoUCV1.svg" alt="LogoUCHEVE">
            </div>
        </div>
        <hr>
        <div class="historial-consultas">
            <div class="historial">
                <span>Historial de consultas</span>
                <div class="consultas">
                    <div>consulta</div>
                    <div>consulta</div>
                    <div>consulta</div>
                    <div>consulta</div>
                </div>
            </div>
        </div>
    </div>
</div>